.logo {
    width: 60px;
    margin-right: 20px;
}
.logo_head {
    display: flex;
    align-items: center;
}
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 1400px;
    margin: auto;
    padding: 0px 30px;
    position: sticky;
}
