.modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    z-index: 1000;
    height: 550px;
}
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}
.close_btn {
    cursor: pointer;
    display: block;
    position: absolute;
    margin-right: 40px;
    right: 0px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}